*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 10vw;
    height: 15vh;
}

body{
    font-size: 3vh;
    word-spacing: 0.1vw;
    background: rgb(18, 18, 18);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

nav{
    background: rgb(35, 33, 33);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding-left: 2vw;
}

nav ul{
    display: flex;
    justify-content: center;
    padding-left: 15vw;
}

nav ul li{
    list-style: none;
    margin: 0vw 2vw;
}

a{
    color: rgb(220, 166, 17);
    text-decoration: none;
}

a:hover{
    color: white;
    font-size: 3.2vh;
}

.left{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: 3vh;
    align-items: center;
}

.part1{
    display: flex;
    justify-content: space-around;
}

.leftcontent{
    margin-top: 3vh;
    font-size: 5vh;
    padding-left: 2vw;
    padding-top: 10vh;
    color: white;
}

.vp{
    padding-top: 7vh;
    padding-left: 10vw;
    padding-right: 2vw;
    width: 30vw;
    height: 60vh;
}

.golden{
    color: rgb(220, 166, 17);
}

#element{
    color: rgb(220, 166, 17);
}

hr{
    border: 0;
    background: rgb(220, 166, 17);
    height: 0.5vh;
    margin: 3vh 4vw;
}

.part2{
    font-size: 5vh;
    padding-left: 5vw;
}

.topic{
    font-size: 7vh;
}

.edu li, .skills li, .exp li{
    width: 95%;
    list-style-position: inside;
    word-spacing: 0.3vw;
}

.btn{
    margin-top: 8vh;
    width: 12vw;
    height: 6vh;
    background: rgb(220, 166, 17);
    border: 6px solid rgb(95, 72, 5);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vh;
    border-radius: 2vh;
}

.btn:hover{
    width: 14vw;
    height: 8vh;
    font-size: 4vh;
    cursor: pointer;
}

.html, .python, .nss{
    position: relative;
    width: 4vw;
    height: 8vh;
    top: 2vh;
    left: 1vw;
}

.css{
    position: relative;
    width: 4vw;
    height: 10vh;
    top: 2vh;
    left: 1vw;
}

.js{
    position: relative;
    width: 9vw;
    height: 8vh;
    top: 2vh;
    left: -1.5vw;
}

.c{
    position: relative;
    width: 5vw;
    height: 9.5vh;
    top: 3vh;
    left: 0vw;
}

.autocad{
    position: relative;
    width: 4vw;
    height: 8vh;
    top: 2vh;
    left: 0vw;
}

.bi{
    position: relative;
    width: 15vw;
    height: 8vh;
    top: 2vh;
    left: 0vw;
}

.footerbg{
    height: 50vh;
    width: 100vw;
    background: rgb(35, 33, 33);
}

.footlogo{
    margin: 0vh 45vw;
    width: 10vw;
    height: 15vh;
}

.insta{
    position: relative;
    width: 2vw;
    height: 4vh;
    top: -3vh;
    left: 43.5vw;
}

.instalink{
    position: relative;
    left: 44vw;
    top: -4.1vh;
}

.linkedin{
    position: relative;
    width: 2vw;
    height: 4vh;
    top: -3vh;
    left: 44.5vw;
}

.linkedinlink{
    position: relative;
    left: 45vw;
    top: -4.1vh;
}

.gmail{
    position: relative;
    width: 2vw;
    height: 3vh;
    top: -3vh;
    left: 40vw;
}

.gmaillink{
    position: relative;
    left: 43vw;
    top: -7.3vh;
}

.foot{
    margin-top: 5vh;
}

.copyright{
    position: relative;
    left: 36vw;
    color: rgb(220, 166, 17);;
}